AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Globals:
  Function:
    MemorySize: 128
    Timeout: 15
Description: "Create AWS Resources"

Resources:
  GlueJobSalesData:
    Type: AWS::Glue::Job
    Properties:
      Name: Sales_Glue_Job
      Description: Ingests data from s3 and after doing transformation it writes the data as a parquet file to the data warehouse
      ExecutionClass: FLEX
      GlueVersion: 4.0
      MaxRetries: 0
      NumberOfWorkers: 6
      Role: arn:aws:iam::278557494232:role/LabRole
      Timeout: 90
      WorkerType: G.1X
      Command:
        Name: glueetl
        ScriptLocation: s3://finalprojectinput/github/sales/Sales.py
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-enable"

  GlueJobProductsData:
    Type: AWS::Glue::Job
    Properties:
      Name: Product_Glue_Job
      Description: Ingests data from RDS and after doing transformation it writes the data as a parquet file to the data warehouse
      ExecutionClass: FLEX
      GlueVersion: 4.0
      MaxRetries: 0
      NumberOfWorkers: 6
      Role: arn:aws:iam::278557494232:role/LabRole
      Timeout: 90
      WorkerType: G.1X
      Command:
        Name: glueetl
        ScriptLocation: s3://finalprojectinput/github/products/Products_Glue_Job.py
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-enable"

  finalprojectinput123:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: sales-data-cft
  
  MyLambdaCFT:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: Sales-CFT-Trigger
      CodeUri: s3://finalprojectinput/lambda_script_for_sales_cft/trigger.zip
      Handler: lamda.lambda_handler
      Runtime: python3.8
      Role: arn:aws:iam::278557494232:role/LabRole
      Events:
        S3BucketEvent:
          Type: S3
          Properties:
            Bucket: !Ref finalprojectinput123
            Events: 's3:ObjectCreated:*'
