AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Globals:
  Function:
    MemorySize: 128
    Timeout: 15
Description: "Create AWS Resources"

Resources:
  GlueJobSalesData:
    Type: AWS::Glue::Job
    Properties:
      Name: Sales_Glue_Job
      Description: Ingests data from s3 and after doing transformation it writes the data as a parquet file to the data warehouse
      GlueVersion: 4.0
      MaxRetries: 0
      NumberOfWorkers: 8
      Role: arn:aws:iam::997290969158:role/LabRole
      Timeout: 90
      WorkerType: G.1X
      Command:
        Name: glueetl
        ScriptLocation: s3://flipkart-dataset/scripts/Sales.py
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-enable"

  GlueJobProductsData:
    Type: AWS::Glue::Job
    Properties:
      Name: Product_Glue_Job
      Description: Ingests data from RDS and after doing transformation it writes the data as a parquet file to the data warehouse
      GlueVersion: 4.0
      MaxRetries: 0
      NumberOfWorkers: 8
      Role: arn:aws:iam::997290969158:role/LabRole
      Timeout: 90
      WorkerType: G.1X
      Command:
        Name: glueetl
        ScriptLocation: s3://flipkart-dataset/scripts/Products_Glue_Job.py
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-enable"

  GlueJobNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: "Glue Job Notification Topic"
      Subscription:
        - Protocol: email
          Endpoint: yadavomkar534@gmail.com

  MyLambdaCFT:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Sales-CFT-Trigger
      Code:
        S3Bucket: flipkart-dataset
        S3Key: scripts/lambda_function.zip
      Handler: lambda_function.lambda_handler
      Runtime: python3.8
      Role: arn:aws:iam::997290969158:role/LabRole

  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref MyLambdaCFT
      Principal: s3.amazonaws.com
      SourceArn: 
        Fn::Sub: arn:aws:s3:::flipkart-dataset/sales/
